p {
  padding: 0;
  margin: 0;
}

button {
  all: unset; /* 모든 기본 스타일 제거 */
  display: inline-block; /* 필요에 따라 추가 */
}

.Container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/public/img/Background.png");
}

.HeaderLogo {
  padding-top: 36px;
}
.Logo {
  padding-top: 5px;
}
.Requested-Photo {
  display: flex;
  width: 80%;
  max-width: 800px;
  max-height: calc(100% - 338px);
  object-fit: contain;
  margin-top: 17px;
  border: none;
}

.Content-Container {
  width: 100%;
  padding-bottom: 27px;
  display: flex;
  flex-direction: column;
}

.Info-Container {
  display: flex;
  flex-direction: column;
  gap: 5.52px;
  margin-top: 16px;
}
.Info-Text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Info-Text-Title {
  font-size: 14.9296px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
}
.Info-Text-Subtitle {
  font-size: 12px;
  line-height: 14.4px;
  color: #7c7c7c;
}
.Button-Box-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 17.48px;
}

.Button-Box {
  background: #f9f9f9;
  border: 0.3px solid #2e2e2e;
  border-radius: 10px;
  width: 300px;
  height: 54px;
  display: flex;
  gap: 24px;
}

.Button-Box-Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  padding-left: 25px;
  flex: 1;
}

.Button-Box-Text-Title {
  font-size: 14.93px;
  line-height: 17.91px;
  font-weight: 600;
  color: rgba(46, 46, 46, 1);
}

.Button-Box-Text-Subtitle {
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
  color: rgba(46, 46, 46, 0.5);
}
.Dvider {
  width: 0px;
  height: 38px;
  align-self: center;
  border: 0.5px dashed #2e2e2e;
  border-radius: 10px;
}

.Button-Box-Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
}
.Download-Icon {
  width: 18.72px;
  height: 19.82px;
  color: rgba(46, 46, 46, 1);
  cursor: pointer;
}

/** 배너 **/
.Banner-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 12px;
}

.Banner-Text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}
